<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.sap.adt.sapgui.ui.launchConfigurationType">
    <stringAttribute key="OBJECT_NAME" value="Z112_01_047"/>
    <stringAttribute key="OBJECT_TYPE" value="PROG/P"/>
    <stringAttribute key="OBJECT_URI" value="/sap/bc/adt/programs/programs/z112_01_047/source/main"/>
    <stringAttribute key="PROJECT_NAME" value="zu-047"/>
    <stringAttribute key="WB_ACTION" value="EXECUTE"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/zu-047"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
</launchConfiguration>
